.users {
    grid-area: users;
    padding: 20px;
    font-size: 36px;
    .showUsersButton {
        display: block;
        width: 180px;
        margin: 0 auto;
        background-color: chartreuse;
        padding: 5px 10px;
        font-size: 20px;
        border: 1px solid black;
        &:hover {
            font-weight: bold;
            background-color: chocolate;
        }
    }
    .pagesWraper {
        display: flex;
        justify-content: center;
        flex-wrap: wrap;
        font-size: 18px;
        margin-top: 20px;
        .selectedPage {
            margin-right: 10px;
            margin-bottom: 5px;
            font-weight: bold;
            &:hover {
                cursor: default;
            }
        }
        .notSelectedPage {
            margin-right: 10px;
            margin-bottom: 5px;
            &:hover {
                cursor: pointer;
            }
        }
    }
    
}

