.dialogs {
    display: grid;
    position: absolute;
    bottom: 0;
    left: 0;
    top: 0;
    right: 0;
    grid-template-columns: minmax(250px, 30%) 70%;
    grid-template-rows: 100%;
    .dialogs__wrap {
        padding: 15px 5px;
        background: rgb(102, 102, 102);
        border-right: 2px solid black;
        height: 1fr;
        a {
            color: black;
        }
        a.active {
            color: gold;
            font-weight: bold;
        }
        
    }
    .messages__wrap {
        display: flex;
        flex-direction: column;
    }
}