.post {
    margin: 70px 10px;
    .post__wrap {
        display: flex;
        .poster_ava {
            width: 80px;
            margin: 0 20px 0 0;
        }
        .post__body {
            border: solid gray 1px;
            border-radius: 15px;
            padding: 10px;
            .post__date {
                color: gray;
            }
            .post__text {
                font-size: 18px;
                padding: 5px 0 0 0;
            }
        }

    }
}