.new_posts {

    .new_posts__title {
        font-size: 30px;
        margin: 0 0 20px 0;
    }
    .new_post__area {
        background-color: rgb(223, 223, 223);
        border: 1px black solid;
        font-size: 18px;
        padding: 10px;
        width: 100%;
        height: 100px;
    }
    .new_post_button {
        width: 150px;
        margin:  10px 0 0 0;
        float: right;
        font-size: 20px;
        background-color: chartreuse;
        border: 1px solid black;
        border-radius: 5px;
        &:hover {
            background-color: rgb(248, 204, 72);
        }            
    }            
}