.formElement{
    flex: 1 1 auto;
    .errorText {
        display: none;
    }
       
}

.formElement.error  {
    textarea, input{
        box-shadow: 0px 0px 25px red;
    }
    .errorText {
        display: inline-block;
        font-size: 18px;
        color: red;
        padding: 5px 0 0 10px;
    }
       
}

.formSummuryError {
    display: inline-block;
    padding: 5px;
    border: 2px solid red;
    color: red;
}