@charset "UTF-8";
/*Обнуление всех отступов на странице*/
* {
  padding: 0;
  margin: 0;
  border: 0;
}

*, *:before, *:after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

:focus, :active {
  outline: none;
}

a:focus, a:active {
  outline: none;
}

/*Отображение семантических елементов как блочных*/
nav, footer, header, aside, ul {
  display: block;
}

html, body {
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: 1;
  font-size: 14px;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

input, button, textarea {
  font-family: inherit;
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a, a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1, h2, h3, h4, h5, h6 {
  font-size: inherit;
  font-weight: 400;
}

/*--------------------*/
a {
  text-decoration: none;
}

.app__wrapper {
  display: -ms-grid;
  display: grid;
  max-width: 1200px;
  margin: 0 auto;
  -ms-grid-rows: auto 10px auto;
  -ms-grid-columns: 2.5fr 10px 10fr;
      grid-template: [start] "header header" auto [row2] [row2] "navbar maincontent" auto [row-end]/2.5fr 10fr;
  gap: 10px;
}
.app__wrapper .grid_element {
  border: 1px solid black;
  border-radius: 5px;
}
.app__wrapper .header {
  -ms-grid-row: 1;
  -ms-grid-column: 1;
  -ms-grid-column-span: 3;
  grid-area: header;
  padding: 15px 20px;
  background: #f1e767;
  background: -webkit-gradient(linear, left top, left bottom, from(#f1e767), to(#feb645));
  background: linear-gradient(to bottom, #f1e767 0%, #feb645 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr="#f1e767", endColorstr="#feb645",GradientType=0 );
}
.app__wrapper .header .logo {
  height: 30px;
  position: relative;
  top: 4px;
  left: 2px;
}
.app__wrapper .header span {
  color: #6bb92b;
  font-size: 30px;
  font-weight: bold;
  letter-spacing: 0.2em;
  font-style: italic;
}
.app__wrapper .navbar {
  -ms-grid-row: 3;
  -ms-grid-column: 1;
  grid-area: navbar;
  padding: 15px 25px;
  background: #ffd65e;
  background: -webkit-gradient(linear, left top, left bottom, from(#ffd65e), to(#febf04));
  background: linear-gradient(to bottom, #ffd65e 0%, #febf04 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr="#ffd65e", endColorstr="#febf04",GradientType=0 );
}
.app__wrapper .navbar ul li {
  list-style: none;
  font-size: 24px;
  line-height: 1.5em;
  font-weight: bold;
}
.app__wrapper .navbar ul li:last-child {
  margin-top: 20px;
}
.app__wrapper .navbar ul li a {
  color: black;
}
.app__wrapper .navbar ul li a:hover {
  color: #6bb92b;
}
.app__wrapper .maincontent {
  -ms-grid-row: 3;
  -ms-grid-column: 3;
  grid-area: maincontent;
}
.app__wrapper .maincontent .wall {
  width: 100%;
  max-height: 250px;
}
.app__wrapper .maincontent .profile {
  padding: 20px 40px;
}
.app__wrapper .maincontent .profile .profile__wrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.app__wrapper .maincontent .profile .profile__wrap .profile__ava {
  max-width: 170px;
  margin: 0 30px 0 0;
}
.app__wrapper .maincontent .profile .profile__wrap .profile__body .profile__name {
  font-size: 36px;
  margin: 0 0 15px 0;
}
.app__wrapper .maincontent .profile .profile__wrap .profile__body .profile__info {
  font-size: 20px;
}
.app__wrapper .maincontent .profile .profile__wrap .profile__body .profile__info li {
  margin: 0 0 10px 0;
}
.app__wrapper .maincontent .new-posts {
  padding: 20px 40px;
}
.app__wrapper .maincontent .new-posts .new-posts__title {
  font-size: 30px;
  margin: 0 0 20px 0;
}
.app__wrapper .maincontent .new-posts .new-post__area {
  background-color: #dfdfdf;
  border: 1px black solid;
  font-size: 18px;
  padding: 10px;
  width: 100%;
  height: 100px;
}
.app__wrapper .maincontent .new-posts .new-post_button {
  width: 150px;
  margin: 10px 0 0 0;
  float: right;
  font-size: 20px;
  background-color: chartreuse;
  border: 1px solid black;
  border-radius: 5px;
}
.app__wrapper .maincontent .new-posts .new-post_button:hover {
  background-color: #f8cc48;
}
.app__wrapper .maincontent .posts {
  padding: 20px 40px;
}
.app__wrapper .maincontent .posts .post {
  margin: 70px 10px;
}
.app__wrapper .maincontent .posts .post .post__wrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.app__wrapper .maincontent .posts .post .post__wrap .poster-ava {
  width: 80px;
  margin: 0 20px 0 0;
}
.app__wrapper .maincontent .posts .post .post__wrap .post__body {
  border: solid gray 1px;
  border-radius: 15px;
  padding: 10px;
}
.app__wrapper .maincontent .posts .post .post__wrap .post__body .post__date {
  color: gray;
}
.app__wrapper .maincontent .posts .post .post__wrap .post__body .post__text {
  font-size: 18px;
  padding: 5px 0 0 0;
}