@charset "UTF-8";
/*Обнуление всех отступов на странице*/
* {
  padding: 0;
  margin: 0;
  border: 0;
}

*, *:before, *:after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

:focus, :active {
  outline: none;
}

a:focus, a:active {
  outline: none;
}

/*Отображение семантических елементов как блочных*/
nav, footer, header, aside, ul {
  display: block;
}

html, body {
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: 1;
  font-size: 14px;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

input, button, textarea {
  font-family: inherit;
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a, a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1, h2, h3, h4, h5, h6 {
  font-size: inherit;
  font-weight: 400;
}

/*--------------------*/

a {
  text-decoration: none;
}


.app__wrapper {
  display: grid;
  max-width: 1200px;
  min-height: 100vh;
  margin: 0 auto;
  grid-template: [start] "header header" auto [row2] [row2] "navbar maincontent" 1fr [row-end]/2.5fr 10fr;
  gap:8px;
  .maincontent {
    grid-area: maincontent;
    position: relative;
    background-color: rgb(255, 255, 255);
  }
  .grid_element {
    border: 2px solid black;
    border-radius: 5px;
    box-shadow: 1px 1px 5px;
  }
}

