.newMessage {
    padding: 10px 5px;
    background: rgb(102, 102, 102);
    
    .messageArea {
        width: 83%;
        height: 40px;
        background: rgb(214, 214, 214);
        padding: 5px 10px;
        resize: none;    
    }
    .sendButton {
        width: 100px;
        margin:  10px 0 0 0;
        float: right;
        font-size: 16px;
        background-color: chartreuse;
        border: 1px solid black;
        border-radius: 5px;
        &:hover {
            background-color: rgb(248, 204, 72);
        }            
    }
}